<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuse List</title>

    <link href="../bs-5/css/bootstrap.min.css" rel="stylesheet">

    <style>
        img#icon {
            max-width: 300px;
        }
    </style>
</head>

<body>
    <div class="container-xl">
        <h1 class="mb-4">Fuse List</h1>

        <div class="row px-5 py-3 fs-3 align-items-center fw-bold alert alert-dark">
            <p class="col col-3 p-0 m-0">Item 1</p>
            <p class="col col-1 p-0 m-0">+</p>
            <p class="col col-3 p-0 m-0">Item 2</p>
            <p class="col col-1 p-0 m-0">=</p>
            <p class="col col-4 p-0 m-0">Results</p>
        </div>

        <div class="m-0 p-0">
            <% data=data.sort((a, b)=> a.id - b.id);
                data.forEach(item=> {
                item.results = item.results.sort((a, b) => a.rate - b.rate);
                const totalRate = item.results.reduce((sum, drop)=> sum + parseFloat(drop.rate || 0), 0); %>
                <div class="row px-5 py-3 fs-5 align-items-center alert alert-secondary">
                    <p class="col col-3 p-0 m-0" id="item1">
                        <%= item.item1.itemName %> (<%= item.item1.id %>)
                    </p>
                    <p class="col col-1 p-0 m-0" id="plus">
                        +
                    </p>
                    <p class="col col-3 p-0 m-0" id="item2">
                        <%= item.item2.itemName %> (<%= item.item2.id %>)
                    </p>
                    <p class="col col-1 p-0 m-0" id="equal">
                        =
                    </p>
                    <div class="col col-4 p-0 m-0" id="results">
                        <% item.results.forEach(result=> {
                            result.percent = totalRate > 0 ? ((result.rate / totalRate) * 100).toFixed(1) : "0";%>%>
                            <p class="p-0 m-0">
                                <%= result.itemName %> (<%= result.itemId %>) x1 [<%= result.percent %>%]
                            </p>
                            <% }); %>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <script src="../bs-5/js/bootstrap.min.js"></script>
</body>

</html>