<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item List</title>

    <link href="../bs-5/css/bootstrap.min.css" rel="stylesheet">

    <style>
        img#icon {
            max-width: 300px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Item List</h1>

        <div class="row px-5 py-3 fs-3 align-items-center fw-bold  alert alert-dark">
            <p class="col col-4 p-0 m-0">ID</p>
            <p class="col col-4 p-0 m-0">Exp</p>
            <p class="col col-4 p-0 m-0">Item Drops</p>
        </div>

        <div class="m-0 p-0">
            <% data.forEach(item=> { %>
                <div class="row px-5 py-3 mb-4 fs-5 align-items-center alert alert-secondary">
                    <p class="col col-4 p-0 m-0" id="id">
                        <%= item.id %>
                    </p>
                    <p class="col col-4 p-0 m-0" id="exp">
                        <%= item.exp %>
                    </p>
                    <div class="col col-4 p-0 m-0" id="itemDrops">
                        <% item.itemDrops.forEach(itemDrop=> { %>
                            <p class="p-0 m-0">ID: <%= itemDrop.itemId %>, Rate: <%= itemDrop.rate %>, Count: <%=
                                            itemDrop.count %>
                            </p>
                            <% }); %>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <script src="../bs-5/js/bootstrap.min.js"></script>
</body>

</html>